{% extends 'base.html.twig' %}

{% block title %} Actualités {% endblock %}

{% block content %}

 <!-- Start Page Title Area -->
		<div class="page-title">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <h3>Actualités</h3>
                                <ul>
                                    <li><a href="{{ path ('home_RED') }}">Accueil</a></li>
                                    <li>/</li>
                                    <li>Actualités</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		<!-- End Page Title Area -->
      
        <!-- Start Blog Area -->
        <section class="blog-area blog-style-two ptb-80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-sm-7">
                        <div class="row">
                            {% for story in stories %}
                                {% set url = path ('story_show',{'slug':story.slug})  %}
                            <div class="col-lg-6 col-md-12">
                                <div class="single-blog-post">
                                    <div class="thumb">
                                        {% if story.coverImage is not empty %}
                                            <img src="{{ story.coverImage[0].url }}" alt="blog-img">
                                        {% endif %}
                                        <div class="blog-link">
                                            <a href="{{ url }}"><i class="fa fa-link"></i></a>
                                        </div>
                                        <div class="date">
                                            <span>{{ story.createdAt|date("d M") }}<br>{{ story.createdAt|date("Y") }}</span>
                                        </div>
                                    </div>
                                    <div class="post-content">
                                        <h3><a href="{{ url }}">{{story.title}}</a></h3>
                                        <p>{{ story.introduction }}</p>
                                    </div>
                                    <div class="post-meta">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-user"></i> Admin</a></li>
                                            <li><a href="#"><i class="fa fa-heart-o"></i> 301</a></li>
                                            <li><a href="#"><i class="fa fa-comments-o"></i> 31</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                            
                            <div class="col-lg-12 col-md-12">
                                <div class="pagination-area">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1"><i class="fa fa-angle-left"></i></a>
                                            </li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                            <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
		            </div>
                    
                    <div class="col-lg-4 col-md-5 col-sm-5">
		                <div class="side-bar mb-0">
		                    <div class="side-bar-box search-box">
		                        <form>
		                            <input type="text" class="form-control" name="search" id="search-input" placeholder="Search">
		                            <button type="submit"><i class="fa fa-search"></i></button>
		                        </form>
		                    </div>
		                    
		                    <div class="side-bar-box categories-box">
		                        <h3 class="title">Categories</h3>
		                        <ul>
		                            <li><a href="#"><i class="fa fa-angle-double-right"></i> News (10)</a></li>
		                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Legal News (15)</a></li>
		                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Events (09)</a></li>
		                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Resources (19)</a></li>
		                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Illegal News (13)</a></li>
		                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Legal Alerts (16)</a></li>
		                            <li><a href="#"><i class="fa fa-angle-double-right"></i> Investigations (05)</a></li>
		                        </ul>
		                    </div>
		                    
		                    <div class="side-bar-box tags-box">
		                        <h3 class="title">Tags</h3>
		                        <ul>
		                            <li><a href="#">Resources</a></li>
		                            <li><a href="#">Law</a></li>
		                            <li><a href="#">Events</a></li>
		                            <li><a href="#">Illegal</a></li>
		                            <li><a href="#">Criminal</a></li>
		                            <li><a href="#">Family</a></li>
		                            <li><a href="#">News</a></li>
		                            <li><a href="#">Legal</a></li>
		                            <li><a href="#">Civil</a></li>
		                            <li><a href="#">Divorce</a></li>
		                            <li><a href="#">Investment</a></li>
		                        </ul>
		                    </div>
		                    
		                    <div class="side-bar-box recent-post mb-0">
		                        <h3 class="title">Recent Post</h3>
		                        <div class="single-recent-post">
		                            <div class="recent-post-img">
		                                <a href="#"><img src="assets/img/blog-img1.jpg" alt="blog-img"></a>
		                            </div>
		                            <div class="recent-post-content">
		                                <ul>
		                                    <li><a href="#">By Admin</a></li>
		                                    <li><a href="#"><i class="fa fa-calendar"></i> Jan 8, 2018</a></li>
		                                </ul>
		                                <h3><a href="#">Employment tribunal hears cases against National</a></h3>
		                            </div>
		                        </div>
		                        
		                        <div class="single-recent-post">
		                            <div class="recent-post-img">
		                                <a href="#"><img src="assets/img/blog-img2.jpg" alt="blog-img"></a>
		                            </div>
		                            <div class="recent-post-content">
		                                <ul>
		                                    <li><a href="#">By Admin</a></li>
		                                    <li><a href="#"><i class="fa fa-calendar"></i> Jan 8, 2018</a></li>
		                                </ul>
		                                <h3><a href="#">Employment tribunal hears cases against National</a></h3>
		                            </div>
		                        </div>
		                        
		                        <div class="single-recent-post mb-0">
		                            <div class="recent-post-img">
		                                <a href="#"><img src="assets/img/blog-img3.jpg" alt="blog-img"></a>
		                            </div>
		                            <div class="recent-post-content">
		                                <ul>
		                                    <li><a href="#">By Admin</a></li>
		                                    <li><a href="#"><i class="fa fa-calendar"></i> Jan 8, 2018</a></li>
		                                </ul>
		                                <h3><a href="#">Employment tribunal hears cases against National</a></h3>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
                </div>
            </div>
        </section>
        <!-- End Blog Area -->

{% endblock %}
